@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.wrapper {
    box-shadow: 0px 1px 19px -5px #00000026;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    height: 300px;
}

.button {
  width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #F6F4EB;
}

.input {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    caret-color: #DC2334;
    outline: none;
    padding: 10px;
    border: 1px solid #c0c2c3;
    border-radius: 3px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}